{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>নাটোর সরকারি বালক উচ্চ বিদ্যালয়</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
    <!--Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_style.css' %}">
    <!--Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!--Fontawesome Icon-->
    <script src="https://kit.fontawesome.com/a7d50ef871.js" crossorigin="anonymous"></script>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&display=swap" rel="stylesheet">

    <!--Main Js-->
    <script src="{% static 'js/script.js'%}"></script>
</head>

<body>
    <div class="bodywrap">
        <div class="header">
            <div class="headerImg">
                <img src="{% static 'img/headerImg.jpg' %}" alt="Header image" width="100%" height="220px">
            </div>
            <div class="headerLogo">
                <img src="{% static 'img/headerLogo.jpg' %}" alt="header Logo" width="95px">
            </div>
            <div class="headerTitle">
                <h2 class="headerTitleText">নাটোর সরকারি বালক উচ্চ বিদ্যালয়</h2>
                <h3 class="headerTitleText">নাটোর সদর, নাটোর</h3>
            </div>
        </div>

        <div class="menubar">
            <nav class="navbar navbar-expand-sm">
                <div class="navCon">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">প্রথম পাতা</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">পরিচিতি</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">এক নজরে পরিচিতি</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">সংক্ষিপ্ত ইতিহাস</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">জনবল</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">শিক্ষক-শিক্ষিকা</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">শিক্ষার্থী</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">অধ্যয়নরত শিক্ষার্থীর সংখ্যা</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">অধ্যয়নরত শিক্ষার্থীর
                                            তালিকা</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">ডিজিটাল
                                            হাজিরার তথ্য</a>
                                    </li>
                                </ul>
                            </li>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">পরীক্ষার ফলাফল</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">পাবলিক পরীক্ষা</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            বিদ্যালয়ের অভ্যন্তরীণ পরীক্ষা</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    ছবির গ্যালারী</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">যোগাযোগ</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">বার্ষিক কর্মক্ষমতা</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">শুদ্ধাচার কৌশল</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">অনলাইন পেমেন্ট</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!----------------------Navbar End------------------------->

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 pe-lg-0 pe-md-0">
                <div class="section-1 left">
                    <div class="sec-1-left col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 mbl-res">
                                <img src="{% static 'img/golden_jubilee.png' %}" class="mbl-res-img" width="170px" height="100px">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 mbl-res">
                                <span class="heading">স্বাধীনতার সুবর্ণজয়ন্তী</span>
                                <br><br>
                                <a href="#">সুবর্ণজয়ন্তী ছবির গ্যালারী</a><br>
                                <input type="submit" value="সকল">
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------------Section 1 Left side End------------------------->

                <div class="section-2 left">
                    <div class="sec-2-left col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3  mbl-res">
                                <img src="{% static 'img/noticeboard.png' %}" width="100px" height="100px" class="mbl-res-img">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 list mbl-res">
                                <span class="heading">নোটিশ বোর্ড</span>
                                <ul class="notice">
                                    <li><a href="#"><i class="fa-solid fa-angle-right"></i>বেতন আদায় বিজ্ঞপ্তি</a></li>
                                    <li><a href="#"><i class="fa-solid fa-angle-right"></i>জরুরী বিজ্ঞপ্তি</a></li>
                                    <li><a href="#"><i class="fa-solid fa-angle-right"></i>পাঠদান সংক্রান্ত
                                            বিজ্ঞপ্তি</a></li>
                                    <li><a href="#"><i class="fa-solid fa-angle-right"></i>২০২২ সালের এস এস সি
                                            পরীক্ষার্থীদের বিদায় অনুষ্ঠান</a>
                                    </li>
                                    <li><a href="#"><i class="fa-solid fa-angle-right"></i>মাধ্যমিক ও উচ্চ শিক্ষা
                                            অধিদপ্তরের আওতাধীন সকল শিক্ষা
                                            প্রতিষ্ঠানে কোভিড-১৯ অতিমারির কারণে চলমান Assig</a></li>
                                </ul>
                                <br>
                                <input type="submit" value="সকল">
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------------Section 2 Left side End------------------------->

                <div class="section-3 left">
                    <div class="sec-3-left ps-2 pe-3 mt-3">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <p class="mb-0">
                                    খবর :
                                </p>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <marquee behavior="SCROLL" scrolldelay="150" direction="" onmouseover="this.stop();"
                                    onmouseout="this.start();">
                                    <div>
                                        &nbsp;&nbsp;<a class="scrollText" href="#">১৫/৮/২২ তারিখের মধ্যে বিদ্যালয়ের সকল
                                            পাওনাদি
                                            পরিশোধ করতে বলা হলো। প্রধান শিক্ষক,নাসবাউবি।</a>&nbsp;&nbsp;
                                    </div>
                                </marquee>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <input type="submit" value="সকল">
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------------Section 3 Left side End------------------------->

                <div class="section-4 left">
                    <div class="sec-4-left col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 mbl-res">
                                <img src="{% static 'img/download.png' %}" class="mbl-res-img" width="100px" height="100px">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 list mbl-res">
                                <span class="heading">ডাউনলোডস</span>
                                <ul class="notice">
                                    <li><a href="#"><i class="fa-solid fa-angle-right"></i>জরুরী বিজ্ঞপ্তি</a></li>
                                    <li><a href="#"><i class="fa-solid fa-angle-right"></i>মাধ্যমিক ও উচ্চ শিক্ষা
                                            অধিদপ্তরের আওতাধীন সকল শিক্ষা প্রতিষ্ঠানে
                                            কোভিড-১৯ অতিমারির কারণে চলমান Assignment কার্যক্রম স্থগিত সংক্রান্ত।</a>
                                    </li>
                                    <li><a href="#"><i class="fa-solid fa-angle-right"></i>২০২২ শিক্ষাবর্ষের ৬ষ্ঠ থেকে
                                            ১০ম শ্রেণির শিক্ষার্থীদের জন্য
                                            অ্যাসাইনমেন্ট (৬ষ্ঠ সপ্তাহ)</a></li>
                                    <li><a href="#"><i class="fa-solid fa-angle-right"></i>২০২২ সালের এস.এস.সি
                                            পরীক্ষার্থীদের জন্য অ্যাসাইনমেন্ট (১৫শ
                                            সপ্তাহ)</a></li>
                                    <li><a href="#"><i class="fa-solid fa-angle-right"></i>২০২২ শিক্ষাবর্ষের ৬ষ্ঠ থেকে
                                            ১০ম শ্রেণির শিক্ষার্থীদের জন্য
                                            অ্যাসাইনমেন্ট (৫ম সপ্তাহ)</a></li>
                                </ul>
                                <br>
                                <input type="submit" value="সকল">
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------------Section 4 Left side End------------------------->

                <div class="section-5 left">
                    <div class="sec-5-left">
                        <div class="row mbl">
                            <div class="sec-5-left-left col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>বার্ষিক কর্মসম্পাদন ও ব্যবস্থাপনা</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/Annual_Management.png' %}" alt="Anual Management" width="110px"
                                            height="85px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>বার্ষিক/ত্রৈমাসিক
                                                    অর্জন প্রতিবেদন</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>কর্ম পরিকল্পনা</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>নীতিমালা</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>এপিএএমএস সফটওয়্যার
                                                    লিংক</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="sec-5-left-right col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>উদ্ভাবনী কার্যক্রম</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/Innovaation.png' %}" alt="Anual Management" width="110px"
                                            height="85px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>উদ্ভাবনী আইডিয়া
                                                    সাবমিট</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>ইনোভেশন টিম</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>উদ্ভাবনী প্রকল্প</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>ফটোগ্যালারী</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mbl">
                            <div class="sec-5-left-left col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>শুদ্ধাচার</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/Intrigrity.png' %}" alt="Anual Management" width="100px"
                                            height="85px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>জাতীয় শুদ্ধাচার
                                                    কৌশল</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>জাতীয় শুদ্ধাচার কৌশল
                                                    কমিটি</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="sec-5-left-right col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>সেবাসমূহ</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/Services.png' %}" alt="Anual Management" width="110px" height="85px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>টিউটোরিয়াল</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>ডিজিটাল কনটেন্ট</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>লাইভ ক্লাস</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mbl">
                            <div class="sec-5-left-left col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>তথ্য অধিকার</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/ServiceAndRights.png' %}" alt="Anual Management" width="110px"
                                            height="85px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>তথ্য প্রদানকারী
                                                    কর্মকর্তা</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>তথ্যের আবেদন ফরম</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>তথ্য অধিকার সংক্রান্ত
                                                    কার্যক্রম
                                                </a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>আইন/
                                                    বিধি/নীতিমালা/পরিপত্র</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="sec-5-left-right col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>অভিযোগ ও প্রতিকার</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/Complaints_Remedies.png' %}" alt="Anual Management" width="110px"
                                            height="85px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>অনিক ও আপিল
                                                    কর্মকর্তা</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>অনলাইনে অভিযোগ
                                                    দাখিল</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>অভিযোগ সংক্রান্ত
                                                    কার্যক্রম</a>
                                            </li>
                                            <li><a href="#"><i
                                                        class="fa-solid fa-angle-right"></i>আইন/বিধি/নীতিমালা/পরিপত্র</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mbl">
                            <div class="sec-5-left-left col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>সেবা প্রদান প্রতিশ্রুতি (সিটিজেন্‌স চার্টার)</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/Service.png' %}" alt="Anual Management" width="100px" height="95px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>সিটিজেন্‌স
                                                    চার্টার</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>পরিবীক্ষণ কমিটি</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>বার্ষিক
                                                    পরিবীক্ষণ/মূল্যয়ন প্রতিবেদন</a>
                                            </li>
                                            <li><a href="#"><i
                                                        class="fa-solid fa-angle-right"></i>আইন/বিধি/নীতিমালা/পরিপত্র</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="sec-5-left-right col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>শিক্ষার্থী</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/student.png' %}" alt="Anual Management" width="100px" height="95px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>বিতর্ক ক্লাব</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>ল্যাঙ্গুয়েজ ক্লাব</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>রোবোটিক্স ক্লাব</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>শিক্ষার্থীদের
                                                    সাফল্যের গল্প</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mbl">
                            <div class="sec-5-left-left col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>জব প্লেসমেন্ট সেল</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/job.png' %}" alt="Anual Management" width="95px" height="85px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right">
                                                    </i>জব নোটিশ</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>প্রাক্তন শিক্ষার্থী
                                                    নিবন্ধকরণ</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right">
                                                    </i>প্রাক্তন শিক্ষার্থী কার্যক্রম/ফটো গ্যালারী</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>সাফল্যের গল্পগাথা</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="sec-5-left-right col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>রিসোর্স</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/resource.png' %}" alt="Anual Management" width="90px" height="85px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>খেলার মাঠ</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>সহপাঠক্রম সংক্রান্ত
                                                    কার্যক্রম</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>শিক্ষার্থীদের
                                                    উদ্ভাবনী</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mbl">
                            <div class="sec-5-left-left col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>বিশেষ চাহিদা সম্পন্ন শিক্ষার্থীদের সম্পৃক্তকরণ</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/sStudent.png' %}" alt="Anual Management" width="90px" height="70px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>শিক্ষার্থীদের
                                                    তালিকা</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>ফোকাল পয়েন্ট
                                                    কর্মকর্তা</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>গাইড টু ডিসাবিলিটি
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="sec-5-left-right col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>ই-টেন্ডার</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/e-tender.gif' %}" alt="Anual Management" width="90px" height="70px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>দরপত্র
                                                    বিজ্ঞপ্তি/নোটিশ</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>ক্রয় পরিকল্পনা</a>
                                            </li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>ই-জিপি পোর্টাল</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mbl">
                            <div class="sec-5-left-left col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>যুব রেড ক্রিসেন্ট সোসাইটি</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/redcresenct.png' %}" alt="Anual Management" width="90px"
                                            height="85px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>কর্মকর্তাগণের ও সদস্য তালিকা<a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>রেড ক্রিসেন্ট প্রশিক্ষণ</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>ফটোগ্যালারী</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>কার্যক্রম সমূহ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="sec-5-left-right col-lg-5 col-md-5 col-sm-5 p-0">
                                <p>রোভার স্কাউট দল</p>
                                <div class="row mbl">
                                    <div class="col-lg-3 col-md-3 col-sm-3 m-responsive-img">
                                        <img src="{% static 'img/roverscout.png' %}" alt="Anual Management" width="90px" height="85px">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 bodyList m-responsive-list">
                                        <ul class="notice">
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>কর্মকর্তাগণের ও সদস্য তালিকা<a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>রোভার প্রশিক্ষণ</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>ফটোগ্যালারী</a></li>
                                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>কার্যক্রম সমূহ</a></li>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------------Section 5 Left side End------------------------->

            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="section-1 right">
                    <div class="sec-1-right col-lg-12 col-md-12 col-sm-12">
                        <div class="headding col-lg-12 col-md-12 col-sm-12">
                            <span>প্রধান শিক্ষক (ভারঃ)</span>
                        </div>
                        <div class="teacherImg text-center">
                            <img src="{% static 'img/20160516175831.jpg' %}" alt="Teacher Image">
                            <span>মোঃ হারুন-অর-রশিদ</span>
                        </div>
                    </div>
                </div>

                <!----------------------Section 1 Right side End------------------------->

                <div class="section-2 right">
                    <div class="sec-2-right col-lg-12 col-md-12 col-sm-12">
                        <div class="headding col-lg-12 col-md-12 col-sm-12 mt-2">
                            <span>অভ্যন্তরীণ ই-সেবা</span>
                        </div>
                        <div class="service list">
                            <ul class="mt-1">
                                <li><a href="#" style="color: #FF0000;"><i class="fa-solid fa-angle-right"></i>পাঠশালা</a></li>
                                <li><a href="#"><i class="fa-solid fa-angle-right"></i>জন্ম ও মৃত্যু নিবন্ধন</a></li>
                                <li><a href="#"><i class="fa-solid fa-angle-right"></i>অনলাইনে পাসপোর্টের আবেদন</a></li>
                                <li><a href="#"><i class="fa-solid fa-angle-right"></i>জাতীয় পরিচয়পত্রের তথ্য</a></li>
                                <li><a href="#"><i class="fa-solid fa-angle-right"></i>অনলাইন আয়কর পরিশোধ</a></li>
                                <li><a href="#"><i class="fa-solid fa-angle-right"></i>পিডিএস (সরকারি মাধ্যমিক)</a></li>
                                <li><a href="#" style="color: #FF0000;"><i class="fa-solid fa-angle-right"></i>ভর্তি পরীক্ষার আবেদন</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!----------------------Section 2 Right side End------------------------->

                <div class="section-3 right">
                    <div class="sec-3-right col-lg-12 col-md-12 col-sm-12">
                        <div class="headding col-lg-12 col-md-12 col-sm-12 mt-2">
                            <span>গুরুত্বপূর্ণ লিংক</span>
                        </div>
                        <div class="importantLink list">
                            <ul class="mt-1">
                                <li><a href="#"><i class="fa-solid fa-angle-right"></i>গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</a></li>
                                <li><a href="#"><i class="fa-solid fa-angle-right"></i>শিক্ষা মন্ত্রণালয়</a></li>
                                <li><a href="#"><i class="fa-solid fa-angle-right"></i>মাধ্যমিক ও উচ্চ শিক্ষা অধিদপ্তর</a></li>
                                <li><a href="#"><i class="fa-solid fa-angle-right"></i>আন্ত: শিক্ষা বোর্ড</a></li>
                                <li><a href="#"><i class="fa-solid fa-angle-right"></i>শিক্ষক বাতায়ন</a></li>
                                <li><a href="#"><i class="fa-solid fa-angle-right"></i>কিশোর বাতায়ন</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!----------------------Section 3 Right side End------------------------->

                <div class="section-4 right">
                    <div class="sec-4-right col-lg-12 col-md-12 col-sm-12">
                        <div class="headding col-lg-12 col-md-12 col-sm-12 mt-2">
                            <span>ওয়েব মাস্টার</span>
                        </div>
                        <div class="web list">
                            <ul class="mt-1">
                                <li><a href="#"><i class="fa-solid fa-angle-right"></i>ওয়েব মাস্টার লগইন</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!----------------------Section 4 Right side End------------------------->

                <div class="section-5 right">
                    <div class="sec-5-right col-lg-12 col-md-12 col-sm-12">
                        <div class="headding col-lg-12 col-md-12 col-sm-12 mt-2">
                            <span>আন্তর্জাতিক তথ্য অধিকার দিবস</span>
                        </div>
                        <div class="info">
                            <a href="#">
                                <img class="ps-3 mt-2" src="{% static 'img/International information.png' %}" alt="International information" width="90%" height="400px">
                            </a>
                        </div>
                    </div>
                </div>

                <!----------------------Section 5 Right side End------------------------->

                <div class="section-6 right mt-4">
                    <div class="sec-6-right col-lg-12 col-md-12 col-sm-12">
                        <div class="headding col-lg-12 col-md-12 col-sm-12 mt-2">
                            <span>জরুরি হটলাইন</span>
                        </div>
                        <div class="info">
                            <a href="#">
                                <img class="ps-3 mt-2" src="{% static 'img/National-Helpline.jpg' %}" alt="National-Helpline" width="90%" height="400px">
                            </a>
                        </div>
                    </div>
                </div>

                <!----------------------Section 6 Right side End------------------------->

                <div class="section-7 right mt-4">
                    <div class="sec-7-right col-lg-12 col-md-12 col-sm-12">
                        <div class="headding col-lg-12 col-md-12 col-sm-12 mt-2">
                            <span>ইভেন্ট</span>
                        </div>
                        <div class="info mt-2">
                            <a href="#">
                                <img class="ps-3 mt-2" src="{% static 'img/shubornojoyonti.png' %}" alt="National-Helpline" width="90%" height="160px">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="bodywrap1">
        <footer class="footerBody-wrapper">
            <div class="footerImg">
                <img src="{% static 'img/footer.png' %}" alt="footer Image">
            </div>
            <div class="footer-wrapper pb-2">
                <div class="row pt-3">
                    <div class="footer-left col-lg-5 col-md-5 col-sm-5">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#" title="ম্যাপ">ম্যাপ</a></li>
                                <li><a href="#" title="সাইটম্যাপ">সাইটম্যাপ</a></li>
                            </ul>
                        </div>
    
                        <div class="footer-copyright footer pt-2">
                            <p>কপিরাইট © <a href="#">২০২২ নাটোর সরকারি বালক উচ্চ বিদ্যালয়</a></p>
                        </div>
                    </div>
                    <div class="footer-middle col-lg-2 col-md-2 col-sm-2  mb-2 text-center">
                        <img src="{% static 'img/headerLogo.jpg' %}" alt="School Logo" height="65px" width="65px">
                    </div>
                    <div class="footer-right col-lg-5 col-md-5 col-sm-5 text-lg-end text-md-end">
                        <div class="footer-credit footer">
                            <p> পরিকল্পনা ও বাস্তবায়নে:&nbsp;<a title="প্রধান শিক্ষক (নাটোর সর: বালক উচ্চ বিদ্যা:)" href="#">প্রধান শিক্ষক (নাটোর সর: বালক উচ্চ বিদ্যা:)</a></p>
                        </div>
    
                        <div class="footer-dev footer">
                            <p> ডিজাইন ও ডেভেলপমেন্ট :-&nbsp;<a href="#"> AR &amp; Technology Bangladesh Ltd.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>